body {
    margin: 0;
    overflow: hidden;
    background-image: url("https://wallpapercave.com/wp/wp5493583.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: sans-serif;
}

.icon {
    position: absolute;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
    transition: transform 0.1s;
}

.icon-img {
    width: 64px;
    height: 64px;
    pointer-events: none;
}

.icon-label {
    color: white;
    margin-top: 8px;
    font-size: 13px;
    text-shadow: 1px 1px 2px black;
}

#taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: white;
}
